{% extends './base.html' %}

{% block title %}Register{% endblock %}

{% block custom_css %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="card border-1 rounded-lg mt-5">
          <div class="card-header"><h3
              class="text-center font-weight-light my-4">Create Account</h3></div>
          <div class="card-body">

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                  <div class="alert alert-primary" role="alert">
                    {{ message }} 
                  </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}

            <form method="post">

              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputUsername" type="text"
                      name="username"
                      placeholder="Enter your username" required />
                    <label for="inputUsername">Username</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input class="form-control" id="inputBirthday" type="date"
                      placeholder="Enter your birthday" name="birthday"
                      required />
                    <label for="inputBirthday">Birthday</label>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputFirstName" type="text"
                      name="first_name"
                      placeholder="Enter your first name" required />
                    <label for="inputFirstName">First name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input class="form-control" id="inputLastName" type="text"
                      placeholder="Enter your last name" name="last_name"
                      required />
                    <label for="inputLastName">Last name</label>
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input class="form-control" id="inputEmail" type="email"
                  placeholder="name@example.com" name="email" required />
                <label for="inputEmail">Email address</label>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputPassword"
                      type="password" placeholder="Create a password"
                      name="password" required />
                    <label for="inputPassword">Password</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating mb-3 mb-md-0">
                    <input class="form-control" id="inputPasswordConfirm"
                      type="password" placeholder="Confirm password"
                      name="password_confirm" required />
                    <label for="inputPasswordConfirm">Confirm Password</label>
                  </div>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input class="form-control" id="inputStreetAddress" type="text"
                  placeholder="Street address" name="street_address" required />
                <label for="inputStreetAddress">Street address</label>
              </div>

              <div class="form-floating mb-3">
                <input class="form-control" id="inputPhoneNumber" type="tel"
                  placeholder="Enter your phone number" name="phone_number"
                  required />
                <label for="inputPhoneNumber">Phone number</label>
              </div>

              <div class="mt-4 mb-0">
                <div class="d-grid"> <input type="submit" id="send-signup"
                    name="signup" value="Create Account"
                    class="btn btn-sm btn-outline-secondary py-2" /></div>
              </div>

            </form>
          </div>
          <div class="card-footer text-center py-3">
            <div class="small"><a class="link-secondary" href="{{ url_for('auth.login') }}">Have an
                account? Go to login</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}