{% extends './base.html' %}

{% block title %}{% endblock %}

{% block custom_css %}
{% endblock %}

{% block content %}

<div class="row g-5">
  <div class="col-md-8">
    <div class="row border-bottom mb-4">
      <div class="col-4 col-sm-6 col-md-8">
        <h3 class="pb-4 fst-italic">
          {{ post.title }}
        </h3>
      </div>

      {% if author.username == user.username %}
      <div class="col-8 col-sm-6 col-md-4">
        <nav class="blog-pagination" aria-label="Pagination">
          <a class="btn btn-outline-primary" href="{{ url_for('blog.edit_post', post_id=post.id) }}">
            <i class="fa-regular fa-pen-to-square fa-lg"></i>
            Edit
          </a>
          <a class="btn btn-outline-danger" href="{{ url_for('blog.delete_post', post_id=post.id) }}" tabindex="-1" aria-disabled="true">
            <i class="fa-solid fa-trash fa-lg"></i>
            Delete
          </a>
        </nav>
      </div>
      {% endif %}

    </div>

    {{ post.content }}

  </div>

  <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">

      <div class="p-4">
        <p class="fw-normal mb-1">Post created at</p>
        <p class="text-muted mb-0">{{ post.created_at }}</p>
        <p class="fw-normal mb-1">By
          <a
            href="{{ url_for('blog.show_user_posts', username=author.username) }}">
            @{{ author.username }}
          </a>
        </p>
      </div>

      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Aperiam omnis veritatis sapiente eaque, voluptates quisquam
          repellat culpa tempore quas velit nulla doloribus quos, iusto neque
          debitis ab aspernatur veniam. Nostrum dolor culpa maxime. Optio hic
          velit pariatur perferendis veritatis ipsa reiciendis labore dolorem
          culpa.</p>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Archives</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2021</a></li>
          <li><a href="#">February 2021</a></li>
          <li><a href="#">January 2021</a></li>
          <li><a href="#">December 2020</a></li>
          <li><a href="#">November 2020</a></li>
          <li><a href="#">October 2020</a></li>
          <li><a href="#">September 2020</a></li>
          <li><a href="#">August 2020</a></li>
          <li><a href="#">July 2020</a></li>
          <li><a href="#">June 2020</a></li>
          <li><a href="#">May 2020</a></li>
          <li><a href="#">April 2020</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

{% endblock %}